.donation-page {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/oceano2.jpg');
    background-size: cover;
}

.donation-container {
    display: flex;
    max-width: 1000px;
    margin: 20px;
}

.donation-description {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.donation-description h3 {
    color: #333;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
}

.donation-description p {
    color: #555;
    margin-bottom: 15px;
}

.donation-description ul {
    margin-bottom: 15px;
    padding-left: 20px;
}

.donation-description li {
    list-style-type: disc;
    color: #555;
    margin-bottom: 5px;
}

.donation-form {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.donation-form h3 {
    color: #333;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
}

.donation-form label {
    display: block;
    margin-bottom: 5px;
}

.donation-form input,
.donation-form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.donation-form textarea {
    height: 100px;
}

.donation-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.donation-form button:hover {
    background-color: #2d8905;
}
