.contact {
    width: 100%;
    min-height: 100vh;
    background: url('/oceano2.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-col {
    flex-basis: 48%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.contact-col h3 {
    color: #ffffff;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-col h3 img {
    margin-left: 10px;
}

.contact-col p {
    max-width: 450px;
    margin: 0.3;
}

.contact-col ul li{
    display: flex;
    align-items: center;
    margin: 20px 0px;
}



.contact-col ul li img{
    width: 25px;
    margin-right: 10px;
}

.contact form input, .contact form textarea{
    display: block;
    width: 100%;
    background: #EBECFE;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}

.contact-col span{
    display: block;
    margin: 20px 0px;
}

.contact form button {
    width: 100%;
    padding: 10px;
   
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
 
.contact form button:hover {
    background-color: #1a1a1a;
}