.register {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/oceano2.jpg');
    background-size: cover;
    background-position: center;
}
 
.register-col {
    color: #ffffff;
}
 
.register h3 {
    color: #ffffff;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 20px;
}
 
.register form {
    max-width: 400px;
}
 
.register form label {
    display: block;
    margin-bottom: 5px;
}
 
.register form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}
 
.register form button {
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
 
.register form button:hover {
    background-color: #1a1a1a;
}
 